.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* quan trọng để % hoạt động */
}

.topSection {
    flex: 0 0 25%;
}

.bottomSection {
    flex: 1;
    /* chiếm phần còn lại ~75% */
}