
.main {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 57px;
    /* khi sidebar collapsed */
    transition: margin-left 0.3s ease;
}

.mainShifted {
    margin-left: 210px;
    /* khi sidebar mở */
}