.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #F8FAFD;
    color: #F8FAFD;
    padding: 10px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebarOpen {
    width: 230px;
}

.sidebarCollapsed {
    width: 70px;
}

.sidebarHeader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    position: relative;
}

.toggleBtn {
    position: absolute;
    top: 15px;
    left: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.toggleBtnShifted {
    transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList li {
    padding: 0;
    margin: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: black;
    width: 100vw;
    min-height: 40px;
    /* đảm bảo không bị collapse */
    box-sizing: border-box;
}

.menuItem:hover {
    background: rgba(35, 123, 224, 0.1);
}

.activeLink {
    background: rgba(35, 123, 224, 0.2);
    transform: scale(1.005);
}

.menuText {
    color: black;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease, margin 0.3s ease;
    display: inline-block;
}

.sidebarCollapsedText {
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
}
