.admin-bottom-section {
    height: 75%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Table dạng list */
.account-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    /* bỏ khung ngoài */
}

.account-table th,
.account-table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    /* chỉ line dưới */
}

.account-table th {
    background: none;
    /* không background */
    font-weight: bold;
    color: #333;
}

.account-table tr:hover td {
    background-color: #f9f9f9;
    /* hover nhẹ */
}