.top-section {
    height: 25%;
    background-color: #ecf0f1;
    padding-left: 20px;
    box-sizing: border-box;
}
.contain-wrapper{
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.top-section .contain-wrapper .title{
    font-size: 40px;
    color: deepskyblue;

}

.pill-btn {
    background-color: lightskyblue;
    /* nền */
    color: white;
    /* chữ trắng */
    border: none;
    /* bỏ viền */
    border-radius: 50px;
    /* tạo hình viên thuốc */
    padding: 15px 60px;
    /* khoảng cách chữ */
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* hover hiệu ứng */
.pill-btn:hover {
    background-color: deepskyblue;
    /* đổi màu khi hover */
    transform: scale(1.05);
    /* hơi phóng to */
}

/* focus outline */
.pill-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(135, 206, 250, 0.5);
    /* vòng sáng nhẹ */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    /* chiếm tối đa chiều cao section */
    max-width: 29vw;
    /* giới hạn chiều rộng */
}

.img-container img {
    width: 100%;
    /* tự co vừa max-width */
    height: auto;
    /* giữ tỉ lệ */
    object-fit: contain;
}