.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    /* khi sidebar collapsed */
    transition: margin-left 0.3s ease;
}

.mainShifted {
    margin-left: 230px;
    /* khi sidebar mở */
}