#loginRectangle{
  background-color: #00AFEF;
  color: #ffffff;
  height: 1024px;
  width: 588px;
  border-radius: 4%;
}
.big-text{
  font-size:72px;
}
#frame {
  width: 1440px;     /* kích thước artboard Figma */
  height: 1024px;
  position: relative; /* quan trọng: làm gốc cho absolute */
  margin: 20px auto;  /* căn giữa trang */
  background: #fff;
  box-sizing: border-box;
  border: 1px dashed rgba(0,0,0,0.08); /* để thấy khung */
}
#textDangNhap{
  position: absolute;
  left:860px;
  top:222px;

}