html,body{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    max-width: 100%;
    background-image:url(/background-hpbd-PC.jpg);
    background-size:cover;  /* phóng hình vừa khít màn hình, không méo */
    background-position: center; /* căn giữa */     
    background-repeat: no-repeat; /* không lặp lại */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media(max-width:720px) {
    body{
    justify-content: center;
    align-items: center;
    background-image: url(/background-hpbd-smartphone.JPG);
    }
}